# SPDX-License-Identifier: GPL-2.0-only
# Copyright (C) 2018-2020 Oplus. All rights reserved.

config OPLUS_GLOOM_NEW
	tristate "OPLUS Gloom New Driver"
	default n
	help
	  OPLUS Gloom New performance optimization
