# SPDX-License-Identifier: GPL-2.0-only
# Copyright (C) 2018-2020 Oplus. All rights reserved.

config PROCESS_RECLAIM_ENHANCE
	bool "Process reclaim enhance"
	default n
	help
	  Support reclaim process inactive pages only
