# SPDX-License-Identifier: GPL-2.0-only
# Copyright (C) 2018-2020 Oplus. All rights reserved.

config OPLUS_VM_ANTI_FRAGMENT
	tristate "OPLUS VM Anti Fragment"
	default n
	help
	  OPLUS VM anti-fragmentation optimization
