# SPDX-License-Identifier: GPL-2.0-only
# Copyright (C) 2018-2020 Oplus. All rights reserved.

config OPLUS_ION_BOOST_POOL
	tristate "OPLUS ION Boost Pool"
	default n
	help
	  OPLUS ION memory boost pool management
